---
import type { GetStaticPaths } from 'astro';
import Layout from '../../layouts/Layout.astro';

export const getStaticPaths = (() => {
  return Object.keys({ en: 'English', es: 'Espanol' }).map((lang) => ({ params: { lang } }));
}) satisfies GetStaticPaths;
---

<Layout title="Welcome to Astro.">
  <div>Index page</div>
</Layout>
